
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.ebextensions/
db.sqlite3
mysite/__pycache__/settings.cpython-39.pyc
.env
crsp/__pycache__/*
crsp/migrations/__pycache__/*
