{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body style="font-family: 'Roboto', sans-serif;" class="p-3 m-0 border-0">
    <nav class="navbar fixed-top" style="background-color: #E9F7EF; box-shadow: 3px 3px 4px #CCD1D1;">
      <div class="container">
        <a class="navbar-brand" href="/"><i class="bi bi-cup-hot-fill" style="font-size: 24px; color: #B5947D;"></i> <span style="font-family: Pacifico; font-size: 14px;">C.R.S.P.</span></a>
        {% if not request.user.is_authenticated %}
        <span class="navbar-text" style="font-size: 14px;"><a style="white-space: nowrap; text-decoration: none; " href="login"><i class="bi bi-person-fill"></i> Login</a><span style="font-size: 18px; color: #B5947D;">  |  </span><a style="white-space: nowrap; text-decoration: none; color: #424949; color: #839192;" href="signup">Sign Up</a></span>
        {% endif %}
        {% if request.user.is_authenticated %}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          style="margin-top: 0.1%; margin-bottom: 0.1%; font-size: 14px;"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
          style="font-size: 14px;"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><i class="bi bi-list" style="font-size: 16px;"></i> Menu</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="add"><i class="bi bi-plus-circle"></i> Create Recipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="recipes"><i class="bi bi-list-ol"></i> My Recipes</a>
            </li>
              <a class="nav-link" href="settings"><i class="bi bi-gear"></i> Account Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:#D35400;" href="logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
            </li>
            
            </ul>
            <form class="d-flex mt-3" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                style="font-size: 14px;"
              />
              <button class="btn btn-outline-success" type="submit" style="font-size: 14px;">
                Search
              </button>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
    </nav>

    <div class="container">
    <p style="font-size: 24px; text-align: center; padding-top: 100px;">Add you recipe below and save!</p>

    <div class="container shadow p-3 mb-5 bg-body rounded" style="width: 40%; min-width: 300px; margin-top: 5%;" >
      <div style="text-align: center; margin: 5%; font-family: 'Akshar', sans-serif; font-size: 24px;">
      {% if auth == 0 %}
      <div style="text-align: center; margin: 5%; font-family: 'Akshar', sans-serif; font-size: 20px; color: red">
        Incorrect email or password, try again.
      </div>
      {% endif %}
      <form action="/add_recipe" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="inputTitle" class="form-label">Title</label>
          <input type="text" class="form-control" id="inputTitle" name="inputTitle" style="font-size: 14px;" required>
        </div>

        <div class="mb-3">
          <label for="inputBeans" class="form-label">Coffee Beans Origin</label>
          <input type="text" class="form-control" id="inputBeans" name="inputBeans" style="font-size: 14px;">
        </div>
        
        <div class="mb-3">
          <label for="inputRoast" class="form-label">Roast Types</label>
          <select class="custom-select" id="inputRoast" name="inputRoast" required>
            <option value="">Choose...</option>
            <option value="Light">Light</option>
            <option value="Medium">Medium</option>
            <option value="Medium-Dark">Medium-Dark</option>
            <option value="Dark">Dark</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="inputGrinder" class="form-label">Grinder</label>
          <input type="text" class="form-control" id="inputGrinder" name="inputGrinder" style="font-size: 14px;">
        </div>

        <div class="mb-3">
          <label for="inputGrinderClick" class="form-label">Grinder Click</label>
          <input type="text" class="form-control" id="inputGrinderClick" name="inputGrinderClick" style="font-size: 14px;">
        </div>

        <div class="mb-3">
          <label for="inputMethod" class="form-label">Brew Method</label>
          <select class="custom-select" id="inputMethod" name="inputMethod" required>
            <option value="">Choose...</option>
            <option value="V60">V60</option>
            <option value="French Press">French Press</option>
            <option value="Chemex">Chemex</option>
            <option value="Aeropress-Dark">Aeropress</option>
            <option value="Espresso">Espresso</option>
            <option value="Moka Pot">Moka Pot</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="inputBlooming" class="form-label">Blooming Time (sec.)</label>
          <input type="text" class="form-control" id="inputBlooming" name="inputBlooming" style="font-size: 14px;">
        </div>

        <div class="mb-3">
          <label for="inputDuration" class="form-label">Total Duration (sec.)</label>
          <input type="text" class="form-control" id="inputDuration" name="inputDuration" style="font-size: 14px;">
        </div>
        
        <div class="mb-3">
          <label for="inputRatio" class="form-label">Coffee/Water Ratio (a/b in gr.)</label>
          <input type="text" class="form-control" id="inputRatio" name="inputRatio" style="font-size: 14px;">
        </div>

        <label for="inputDescription" class="form-label">Description</label>
        <div class="mb-3">
          <textarea class="form-control" id="inputDescription" name="inputDescription" style="font-size: 14px; height: 150px;" required></textarea>
        </div>

        <input class="btn btn-outline-dark" type="submit" value="Save" style="font-size: 16px;">
      </form>
    </div>


  </div>
</body>
</html>